html, body, #app
{
    height: 100%;
    margin: 0;
}

#split-view {
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.sidebar {
  width: 50%;
  margin: 0;
  order: 1;
  border-left: 2px solid #dde1e4;
  background-color: #fff;
  overflow: hidden;
}

.main-view {
  width: 50%;
  order: 0;
  display:flex;
  align-items: stretch;
  flex-direction: column;
}

.dom-container {
  overflow: hidden;
}

.dom-container:hover, .sidebar:hover {
  overflow: scroll;
}
