//TODO: use flexbox
#tree-view {
  width: 50%;
  float: right;
  margin: 0;
  overflow: scroll;
}

#container {
  width: 50%;
  float left;
  border-left: 1px solid var(#dde1e4);
  background-color: var(white);
  overflow: scroll;
}
