html, body, #app
{
    height: 100%;
    margin: 0;
}

#splitter {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.sidebar {
  width: 50%;
  float: right;
  margin: 0;
  order: 1;
  border-left: 2px solid #dde1e4;
  background-color: #fff;
  overflow: hidden;
}

#container {
  width: 50%;
  float left;
  order: 0;
  overflow: hidden;
}

#container:hover, #sidebar:hover {
  overflow: scroll;
}
